# Environment / configuration
.env
.env.*
.user.ini
php.ini

# Logs
*.log
error_log

# Database / backup
DB/
*.sql
*.zip

# Temporary files
*.tmp
*.bak

# OS
.DS_Store
Thumbs.db

uploads/*
!uploads/template/
application/config/google_drive_key.json
application/config/google_drive_oauth.json

# Data/foto absensi
assets/img/absen/

# Dependency
application/vendor/

# Upload pengguna
uploads/*
!uploads/template/

# Log
*.log
error_log

# Config sensitif
.env
.user.ini
php.ini

assets/img/absen/
assets/vendor/
application/vendor/

